
* {
	margin: 0%;
	padding: 0%;
	
	box-sizing: border-box;
}
body{
	font-family: 'Oxygen', sans-serif;
}


.navbar {
	margin-left: -15px;
	margin-right: -15px;
	background-color: #C1C1C1;
}


.navbar-default .navbar-brand {
	color: black;
}


.navbar-default .navbar-toggle {
  border-color: black; /* for the rectangular part */
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: black; 
}

.navbar-brand {
	
	font-size: 30px;
}


ul.nav {
	margin-top: 0px;
	margin-bottom: 0px;
}

hr {
	margin-top: 0px;
	margin-bottom: 0px;
	border: 0;
	border-top: 1px solid black;
	
}

.navbar-default .navbar-nav > li > a {
	color: black;
	background-color: white;

}

div#hidden-btn.navbar-collapse.collapse.in {
	border: 1px solid black;
}


h1 {
	margin-bottom: 40px;
}


section {
	
	background-color: #C1C1C1;
}


h2 {
	padding-top: 15px;
	padding-bottom: 15px;
	
}


p {
	height: 1000px;
	padding: 0px 15px;
	font-size: 19px;
}


@media (max-width: 767px) {
	#main-box{
		width: 70%;
		margin-left: 15%;
		padding: 0%;
	}
}
